body {
    height: 100vh;  
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
}

#calculator-container {
    width: 25vw;
    padding: 10px;
    border-radius: 10px;
    background-color: #3A3A3A;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#calculator-display {
    width: 100%;
    flex: 0 0 34.4px; /* the flex-basis value can be found by checking the height of calculator-display when numbers are present, it changes depending on the font-size value */
    background-color: #111111;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-buttons {
    display: flex;
    flex: 1;
    flex-flow: column-reverse nowrap;
}

.button-row {
    display: flex;
}

.button-row button {
    display: flex;
    width: calc(20% - 10px); /* the second number is x2 the button margin */
}

button {
    aspect-ratio: 1 / 1;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-button { /* This makes the clear button x2 the width of normal buttons */
    width: calc(40% - 10px); 
    aspect-ratio: auto; 
}

.operator-button {
    background-color: rgb(255, 204, 0);
}
    